{% extends "base.html" %}
{% block title %}{{ _("Forgot password") }}{% endblock %}

{% block content %}
<form method="post" class="w-50 mx-auto">
  <h3>{{ _("Forgot password?") }}</h3>
  <p> {{ _("Enter your email address to which a password reset link will be sent.") }}</p>

  <div class="form-group">
    <label>{{ _("E-mail") }}</label>
    <input type="email" name="email" class="form-control" required>
  </div>

  <div>
    <button class="btn btn-secondary mt-3">{{ _("Send") }}</button>
  </div>
</form>
{% endblock %}

