{% extends "base.html" %}
{% block title %}{{ _("Reset password") }}{% endblock %}

{% block content %}
<form method="post" class="w-50 mx-auto">
  <h3>{{ _("Reset password") }}</h3>

  <div class="form-group">
    <label>{{ _("New password") }}</label>
    <input type="password" name="password1" class="form-control" required>
  </div>

  <div class="form-group">
    <label>{{ _("New password (again)") }}</label>
    <input type="password" name="password2" class="form-control" required>
  </div>

  <div>
    <button class="btn btn-secondary mt-3">{{ _("Reset password") }}</button>
  </div>
</form>
{% endblock %}

